{% extends 'base.html' %}
{% load i18n %}
{% block title %} Blog White Tulip {% endblock %}

{% block content %}


    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item bg-1"  data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="/">Home</a></span> <span>Blog</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">{% translate "Read Our Blog" %}</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12 ftco-animate">
		            <div class="blog-entry">
		              <a href="blog-single.html" class="block-20 image_1" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "Unlocking the Secrets to a Beautiful Smile: Cosmetic Dentistry Explained" %}</a></h3>
			                <p>{% translate "Today, let's embark on a journey together, a journey to unlock the secrets to a beautiful smile through the captivating world of cosmetic dentistry. In a world where confidence and self-assurance often begin with a smile, understanding the art and science behind a stunning smile is not just enlightening; it's empowering" %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="100">
		              <a href="blog-single.html" class="block-20 image_2" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "The Power of Prevention: How Daily Habits Impact Your Dental Health" %}</a></h3>
			                <p>{% translate "Preventing dental issues starts with the basics: our daily oral hygiene habits. Something as simple as brushing and flossing can be the frontline defense against tooth decay and gum disease. These daily rituals are more than just tasks; they're acts of self-care that set the foundation for a lifetime of strong, healthy teeth and gums." %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="200">
		              <a href="blog-single.html" class="block-20 image_3" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "Behind the Scenes: What Really Happens During a Dental Checkup" %}</a></h3>
			                <p>{% translate "A dental checkup is not just a brief appointment; it's a comprehensive assessment of your oral health, a thorough examination that goes beyond what meets the eye. When you step into the dental chair, you're not just sitting down for a quick peek at your teeth; you're taking a proactive step towards maintaining your oral well-being" %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry">
		              <a href="blog-single.html" class="block-20 image_4" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "Oral Health at Every Age: A Guide to Pediatric to Geriatric Dentistry" %}</a></h3>
			                <p>{% translate "Let's begin with the youngest members of our community: our children. Pediatric dentistry is not just about baby teeth; it's about setting the foundation for a lifetime of healthy smiles. Early dental visits, education about proper oral hygiene, and preventive measures like sealants are crucial in ensuring that our children grow up with strong, cavity-free teeth" %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="100">
		              <a href="blog-single.html" class="block-20 image_5" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "The Connection Between Oral and Overall Health: What You Need to Know" %}</a></h3>
			                <p>{% translate "The connection between oral health and overall health is a powerful one, often underestimated and overlooked. Yet, research and medical studies continually reveal the intricate relationship between the two. Our mouths are not isolated entities but rather gateways to our bodies, and what happens in our mouths can profoundly impact our overall health" %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		            <div class="blog-entry" data-aos-delay="200">
		              <a href="blog-single.html" class="block-20 image_6" >
		              </a>
		              <div class="text d-flex py-4">
		                <div class="meta mb-3">
		                  <div><a href="#">Sep. 20, 2018</a></div>
		                  <div><a href="#">Admin</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <div class="desc pl-sm-3 pl-md-5">
			                <h3 class="heading"><a href="#">{% translate "From Braces to Invisalign: A Comprehensive Guide to Orthodontic Options" %}</a></h3>
			                <p>{% translate "Orthodontics is a field that has evolved significantly over the years, offering a wide spectrum of treatments to address various dental misalignments. Gone are the days when metal braces were the only option. Today, the choice is not just about straightening teeth but also about doing so comfortably, discreetly, and efficiently" %}</p>
			                <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">{% translate "Read more" %}</a></p>
			              </div>
		              </div>
		            </div>
		          </div>
						</div>
						<div class="row mt-5">
		          <div class="col">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
					</div> <!-- END: col-md-8 -->
					<div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                <li><a href="#">Food <span>(12)</span></a></li>
                <li><a href="#">Dish <span>(22)</span></a></li>
                <li><a href="#">Desserts <span>(37)</span></a></li>
                <li><a href="#">Drinks <span>(42)</span></a></li>
                <li><a href="#">Ocassion <span>(14)</span></a></li>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4 image_1" ></a>
                <div class="text">
                  <h3 class="heading"><a href="#">{% translate "Unlocking the Secrets to a Beautiful Smile: Cosmetic Dentistry Explained" %}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4 image_2" ></a>
                <div class="text">
                  <h3 class="heading"><a href="#">{% translate "The Power of Prevention: How Daily Habits Impact Your Dental Health" %}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4 image_3" ></a>
                <div class="text">
                  <h3 class="heading"><a href="#">{% translate "Behind the Scenes: What Really Happens During a Dental Checkup" %}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">dish</a>
                <a href="#" class="tag-cloud-link">menu</a>
                <a href="#" class="tag-cloud-link">food</a>
                <a href="#" class="tag-cloud-link">sweet</a>
                <a href="#" class="tag-cloud-link">tasty</a>
                <a href="#" class="tag-cloud-link">delicious</a>
                <a href="#" class="tag-cloud-link">desserts</a>
                <a href="#" class="tag-cloud-link">drinks</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>{% translate "Paragraph" %}</h3>
              <p>{% translate "A dental care blog is more than just a collection of articles; it's a trusted resource that empowers individuals to take charge of their oral health. It serves as a beacon of knowledge, shedding light on the importance of dental hygiene, the latest advancements in dentistry, and practical tips for maintaining a radiant smile" %}</p>
            </div>
          </div>
				</div>
			</div>
		</section>

    {% endblock %}